@font-face {
  font-family: "house"; /* Project id 3520485 */
  src: url('iconfont.woff2?t=1657713725238') format('woff2'),
       url('iconfont.woff?t=1657713725238') format('woff'),
       url('iconfont.ttf?t=1657713725238') format('truetype');
}

.house {
  font-family: "house" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.house-wifi:before {
  content: "\e6f2";
}

.house-shoucang:before {
  content: "\e600";
}

.house-shizhong:before {
  content: "\e74f";
}

.house-xiyiji:before {
  content: "\e67d";
}

.house-dingwei01:before {
  content: "\e61d";
}

.house-xinyongqia:before {
  content: "\e6a7";
}

.house-dingwei:before {
  content: "\e69c";
}

.house-haofangtuo400iconfont2reshuiqi:before {
  content: "\e6fc";
}

.house-shouye-1:before {
  content: "\e607";
}

.house-zixun:before {
  content: "\e62d";
}

.house-sousuo:before {
  content: "\e613";
}

.house-yigui-hui:before {
  content: "\e60c";
}

.house-shafa:before {
  content: "\e652";
}

.house-kefu:before {
  content: "\e88f";
}

.house-home:before {
  content: "\e601";
}

.house-dingwei1:before {
  content: "\e602";
}

.house-fangzi:before {
  content: "\e8ff";
}

.house-dianshiji:before {
  content: "\e90a";
}

.house-ziyuan:before {
  content: "\e63b";
}

.house-yonghu:before {
  content: "\e616";
}

.house-ditudingwei:before {
  content: "\e77e";
}

.house-kongtiao:before {
  content: "\e60a";
}

.house-yigui:before {
  content: "\e60b";
}

.house-bingxiang:before {
  content: "\ec4f";
}

.house-nuanqi-:before {
  content: "\e60f";
}

.house-wode:before {
  content: "\e7d3";
}

.house-huagongshouye:before {
  content: "\e62e";
}

.house-jurassic_user:before {
  content: "\e6a4";
}

.house-shouye:before {
  content: "\e660";
}

.house-shizhong1:before {
  content: "\e60d";
}

.house-yonghuguanli_huaban:before {
  content: "\e62f";
}

.house-xinyongka:before {
  content: "\e65e";
}

.house-dingwei2:before {
  content: "\f4af";
}

.house-shouye-weixuanzhong:before {
  content: "\e604";
}

.house-sousuo1:before {
  content: "\e64e";
}

